In [206]:
import pandas as pd
from scipy.stats import pearsonr

In [207]:
sales_data = pd.read_csv('Sales_Views.csv')
glance_views = pd.read_csv('Glance_Views.csv')

In [208]:
sales_data = sales_data.drop(columns=['Unnamed: 0','Unnamed: 10'])
sales_data

,SKU_NAME,FEED_Month,FEED_DATE,CATEGORY,SUB_CATEGORY,ORDERED_REVENUE,ORDERED_UNITS,REP_OOS,Price of single unit(Rounded off)
0,B12020KBUI,May,2019-05-18,1000 Inputs,1002 Mice,0.00,0,0.0,0
1,B12020KBUI,May,2019-05-19,1000 Inputs,1002 Mice,0.00,0,0.0,0
2,B12020KBUI,May,2019-05-22,1000 Inputs,1002 Mice,0.00,0,0.0,0
3,B12020KBUI,May,2019-05-23,1000 Inputs,1002 Mice,0.00,0,0.0,0
4,B12020KBUI,May,2019-05-27,1000 Inputs,1002 Mice,0.00,0,0.0,0
...,...,...,...,...,...,...,...,...,...
41110,D29S5IMRDI,August,2019-08-27,1000 Inputs,1007 Other Input Devices,129.99,1,0.0,130
41111,D29S5IMRDI,August,2019-08-28,1000 Inputs,1007 Other Input Devices,259.98,2,0.0,130
41112,D29S5IMRDI,August,2019-08-29,1000 Inputs,1007 Other Input Devices,259.98,2,0.0,130
41113,D29S5IMRDI,August,2019-08-30,1000 Inputs,1007 Other Input Devices,259.98,2,0.0,130
41114,D29S5IMRDI,August,2019-08-31,1000 Inputs,1007 Other Input Devices,0.00,0,0.0,0

In [209]:
glance_views = glance_views.drop(columns=['Unnamed: 0'])
glance_views

         SKU_NAME FEED_DATE  PAGE VIEWS  ORDERED UNITS
0      B1212:PZ:V  01/05/19         455             16
1      B1212:PZ:V  02/05/19         478             12
2      B1212:PZ:V  03/05/19         681             42
3      B1212:PZ:V  04/05/19         662             70
4      B1212:PZ:V  05/05/19         568             33
...           ...       ...         ...            ...
40740  C08N8KVJDZ  27/08/19         225             -1
40741  C08N8KVJDZ  28/08/19         219              0
40742  C08N8KVJDZ  29/08/19         264              0
40743  C08N8KVJDZ  30/08/19         260              8
40744  C08N8KVJDZ  31/08/19         254              3

[40745 rows x 4 columns]

In [210]:
glance_views.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40745 entries, 0 to 40744
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SKU_NAME       40745 non-null  object
 1   FEED_DATE      40745 non-null  object
 2   PAGE VIEWS     40745 non-null  int64
 3   ORDERED UNITS  40745 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.2+ MB

In [211]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41115 entries, 0 to 41114
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   SKU_NAME                           41115 non-null  object
 1   FEED_Month                         41115 non-null  object
 2   FEED_DATE                          41115 non-null  object
 3   CATEGORY                           41115 non-null  object
 4   SUB_CATEGORY                       41115 non-null  object
 5   ORDERED_REVENUE                    41115 non-null  float64
 6   ORDERED_UNITS                      41115 non-null  int64
 7   REP_OOS                            40426 non-null  float64
 8   Price of single unit(Rounded off)  41115 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.8+ MB

In [212]:
df = pd.merge(sales_data, glance_views, on=['SKU_NAME'], how='right')

In [213]:
df

,SKU_NAME,FEED_Month,FEED_DATE_x,CATEGORY,SUB_CATEGORY,ORDERED_REVENUE,ORDERED_UNITS,REP_OOS,Price of single unit(Rounded off),FEED_DATE_y,PAGE VIEWS,ORDERED UNITS
0,B1212:PZ:V,May,2019-05-01,1000 Inputs,1006 Gamepads and Controllers,525.84,16,8.13,33,01/05/19,455,16
1,B1212:PZ:V,May,2019-05-02,1000 Inputs,1006 Gamepads and Controllers,395.88,12,0.21,33,01/05/19,455,16
2,B1212:PZ:V,May,2019-05-03,1000 Inputs,1006 Gamepads and Controllers,1385.58,42,8.22,33,01/05/19,455,16
3,B1212:PZ:V,May,2019-05-04,1000 Inputs,1006 Gamepads and Controllers,2341.30,70,12.08,33,01/05/19,455,16
4,B1212:PZ:V,May,2019-05-05,1000 Inputs,1006 Gamepads and Controllers,1104.07,33,14.08,33,01/05/19,455,16
...,...,...,...,...,...,...,...,...,...,...,...,...
4674652,C08N8KVJDZ,August,2019-08-27,1000 Inputs,1001 Keyboards,-99.99,-1,0.00,100,31/08/19,254,3
4674653,C08N8KVJDZ,August,2019-08-28,1000 Inputs,1001 Keyboards,0.00,0,0.00,0,31/08/19,254,3
4674654,C08N8KVJDZ,August,2019-08-29,1000 Inputs,1001 Keyboards,0.00,0,0.00,0,31/08/19,254,3
4674655,C08N8KVJDZ,August,2019-08-30,1000 Inputs,1001 Keyboards,799.92,8,0.00,100,31/08/19,254,3
4674656,C08N8KVJDZ,August,2019-08-31,1000 Inputs,1001 Keyboards,299.97,3,0.00,100,31/08/19,254,3

In [214]:
sum(df[df['SKU_NAME']=='C120[H:8NV'].value_counts() == 1)

15129

In [215]:
df['avg_selling_price'] = df['ORDERED_REVENUE'] / df['ORDERED_UNITS']

In [216]:
df['avg_selling_price']

0          32.865000
1          32.990000
2          32.990000
3          33.447143
4          33.456667
             ...
4674652    99.990000
4674653          NaN
4674654          NaN
4674655    99.990000
4674656    99.990000
Name: avg_selling_price, Length: 4674657, dtype: float64

In [217]:
df['unit_conversion'] = df['ORDERED_UNITS'] / df['PAGE VIEWS']

In [218]:
df['unit_conversion']

0          0.035165
1          0.026374
2          0.092308
3          0.153846
4          0.072527
             ...
4674652   -0.003937
4674653    0.000000
4674654    0.000000
4674655    0.031496
4674656    0.011811
Name: unit_conversion, Length: 4674657, dtype: float64

In [219]:
df.head()

,SKU_NAME,FEED_Month,FEED_DATE_x,CATEGORY,SUB_CATEGORY,ORDERED_REVENUE,ORDERED_UNITS,REP_OOS,Price of single unit(Rounded off),FEED_DATE_y,PAGE VIEWS,ORDERED UNITS,avg_selling_price,unit_conversion
0,B1212:PZ:V,May,2019-05-01,1000 Inputs,1006 Gamepads and Controllers,525.84,16,8.13,33,01/05/19,455,16,32.865000,0.035165
1,B1212:PZ:V,May,2019-05-02,1000 Inputs,1006 Gamepads and Controllers,395.88,12,0.21,33,01/05/19,455,16,32.990000,0.026374
2,B1212:PZ:V,May,2019-05-03,1000 Inputs,1006 Gamepads and Controllers,1385.58,42,8.22,33,01/05/19,455,16,32.990000,0.092308
3,B1212:PZ:V,May,2019-05-04,1000 Inputs,1006 Gamepads and Controllers,2341.30,70,12.08,33,01/05/19,455,16,33.447143,0.153846
4,B1212:PZ:V,May,2019-05-05,1000 Inputs,1006 Gamepads and Controllers,1104.07,33,14.08,33,01/05/19,455,16,33.456667,0.072527

In [220]:
subset = df.loc[df['SKU_NAME'] == 'C120[H:8NV', ['unit_conversion', 'avg_selling_price']]
if len(subset) >= 2:
    corr, p_value = pearsonr(subset['unit_conversion'], subset['avg_selling_price'])
    print("Correlation coefficient:", corr)
    print("P-value:", p_value)
else:
    print("Insufficient data to compute correlation coefficient.")

Correlation coefficient: -0.11495930064085676
P-value: 1.1205648196775867e-45